<div class="url_header">
    <div>
        <div class=""><i class="fa-solid fa-house" style="color: #ff0f0f;"></i></div>
        <div class="">Trang chủ</div>
        <div class="">> {{cate}}</div>
        <div class="">> {{brandmain.name}}</div>
    </div>
</div>
<div class="chose_login" id="chose">
    <div>
        <div class="chose_login--header ">
            <div><img src="https://cdn2.cellphones.com.vn/213x213,webp,q100/media/wysiwyg/Shipper_CPS.jpg" alt="">
            </div>
            <div class="Smember"><b>Smember</b></div>
            <i class="fa-solid fa-x" onclick="chosecancel()"></i>
        </div>
        <div class="chose_login--text">
            <p>Vui lòng đăng nhập tài khoản Smember để có trải nghiệm mua sắm tốt hơn</p>
        </div>
        <div class="chose_login--btn">
            <div class="login"><a href="./html/login.html"><b>Đăng nhập ngay</b></a></div>
            <div class="signup1"><a href="./html/signup.html"><b>Đăng ký</b></a></div>
        </div>
    </div>
</div>
<section class="container">
    <div class="nav_product_relate">
        <!-- <ul>
            <li class="nav_product_relate_active">Laptop</li>
            <li>PC</li>
            <li>Màng Hình</li>
            <li>Build PC</li>
            <li>Linh kiện máy tính</li>
            <li>Máy in</li>
        </ul> -->
    </div>
    <!-- Swiper -->
    <div class="double_slider">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                        src="https://cdn2.cellphones.com.vn/insecure/rs:fill:595:0/q:80/plain/https://dashboard.cellphones.com.vn/storage/hssv-2024samsung-1.jpg"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://cdn2.cellphones.com.vn/insecure/rs:fill:595:100/q:80/plain/https://dashboard.cellphones.com.vn/storage/tuf%20f15.jpg"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://cdn2.cellphones.com.vn/insecure/rs:fill:595:0/q:80/plain/https://dashboard.cellphones.com.vn/storage/oppo-a17k-cate-th11.png"
                        alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                </svg>
                <span style="display: none;"></span>
            </div>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                        src="https://cdn2.cellphones.com.vn/insecure/rs:fill:595:0/q:80/plain/https://dashboard.cellphones.com.vn/storage/oppo-a17k-cate-th11.png"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://cdn2.cellphones.com.vn/insecure/rs:fill:595:0/q:80/plain/https://dashboard.cellphones.com.vn/storage/hssv-2024samsung-1.jpg"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://cdn2.cellphones.com.vn/insecure/rs:fill:595:100/q:80/plain/https://dashboard.cellphones.com.vn/storage/tuf%20f15.jpg"
                        alt=""></div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                </svg>
                <span style="display: none;"></span>
            </div>
        </div>
    </div>
    <div class="brands">
        <div class="brand" *ngFor="let i of arrayBrand"><a routerLink="/categories/dien-thoai/{{i.id}}"><img
            src="../../../assets/public/img/{{i.img}}"
            alt=""></a></div>
</div>
    <!-- <div class="product_requets">
    <div class="requets_first">
        <h3>Chọn theo nhu cầu</h3>
    </div>
    <div class="requets_last">
        <div class="product_requet">
            <h4>Văn phòng</h4>
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:150:0/q:70/plain/https://cellphones.com.vn/media/icons/category/laptop/filter-cate-971.svg"
                alt="">
        </div>
        <div class="product_requet">
            <h4>Văn phòng</h4>
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:150:0/q:70/plain/https://cellphones.com.vn/media/icons/category/laptop/filter-cate-971.svg"
                alt="">
        </div>
        <div class="product_requet">
            <h4>Văn phòng</h4>
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:150:0/q:70/plain/https://cellphones.com.vn/media/icons/category/laptop/filter-cate-971.svg"
                alt="">
        </div>
        <div class="product_requet">
            <h4>Văn phòng</h4>
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:150:0/q:70/plain/https://cellphones.com.vn/media/icons/category/laptop/filter-cate-971.svg"
                alt="">
        </div>
        <div class="product_requet">
            <h4>Văn phòng</h4>
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:150:0/q:70/plain/https://cellphones.com.vn/media/icons/category/laptop/filter-cate-971.svg"
                alt="">
        </div>
    </div>
</div> -->

    <div class="filter">
        <h3>Sắp xếp theo</h3>
        <div class="filter_sort">
            <div class="cateFilter" (click)="filtersortdown()" style="cursor: pointer;">
                <div class="icon"><svg height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path
                            d="M416 288h-95.1c-17.67 0-32 14.33-32 32s14.33 32 32 32H416c17.67 0 32-14.33 32-32S433.7 288 416 288zM544 32h-223.1c-17.67 0-32 14.33-32 32s14.33 32 32 32H544c17.67 0 32-14.33 32-32S561.7 32 544 32zM352 416h-32c-17.67 0-32 14.33-32 32s14.33 32 32 32h32c17.67 0 31.1-14.33 31.1-32S369.7 416 352 416zM480 160h-159.1c-17.67 0-32 14.33-32 32s14.33 32 32 32H480c17.67 0 32-14.33 32-32S497.7 160 480 160zM192.4 330.7L160 366.1V64.03C160 46.33 145.7 32 128 32S96 46.33 96 64.03v302L63.6 330.7c-6.312-6.883-14.94-10.38-23.61-10.38c-7.719 0-15.47 2.781-21.61 8.414c-13.03 11.95-13.9 32.22-1.969 45.27l87.1 96.09c12.12 13.26 35.06 13.26 47.19 0l87.1-96.09c11.94-13.05 11.06-33.31-1.969-45.27C224.6 316.8 204.4 317.7 192.4 330.7z">
                        </path>
                    </svg>
                    Giá Cao - Thấp
                </div>
            </div>
            <div class="cateFilter"  (click)="filtersortup()" style="cursor: pointer;">
                <div class="icon"><svg height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path
                            d="M320 224H416c17.67 0 32-14.33 32-32s-14.33-32-32-32h-95.1c-17.67 0-32 14.33-32 32S302.3 224 320 224zM320 352H480c17.67 0 32-14.33 32-32s-14.33-32-32-32h-159.1c-17.67 0-32 14.33-32 32S302.3 352 320 352zM320 96h32c17.67 0 31.1-14.33 31.1-32s-14.33-32-31.1-32h-32c-17.67 0-32 14.33-32 32S302.3 96 320 96zM544 416h-223.1c-17.67 0-32 14.33-32 32s14.33 32 32 32H544c17.67 0 32-14.33 32-32S561.7 416 544 416zM192.4 330.7L160 366.1V64.03C160 46.33 145.7 32 128 32S96 46.33 96 64.03v302L63.6 330.7c-6.312-6.883-14.94-10.38-23.61-10.38c-7.719 0-15.47 2.781-21.61 8.414c-13.03 11.95-13.9 32.22-1.969 45.27l87.1 96.09c12.12 13.26 35.06 13.26 47.19 0l87.1-96.09c11.94-13.05 11.06-33.31-1.969-45.27C224.6 316.8 204.4 317.7 192.4 330.7z">
                        </path>
                    </svg>
                    Giá Thấp - Cao
                </div>
            </div>
            <!-- <div class=""><svg height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                    <path
                        d="M112 224c61.9 0 112-50.1 112-112S173.9 0 112 0 0 50.1 0 112s50.1 112 112 112zm0-160c26.5 0 48 21.5 48 48s-21.5 48-48 48-48-21.5-48-48 21.5-48 48-48zm224 224c-61.9 0-112 50.1-112 112s50.1 112 112 112 112-50.1 112-112-50.1-112-112-112zm0 160c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zM392.3.2l31.6-.1c19.4-.1 30.9 21.8 19.7 37.8L77.4 501.6a23.95 23.95 0 0 1-19.6 10.2l-33.4.1c-19.5 0-30.9-21.9-19.7-37.8l368-463.7C377.2 4 384.5.2 392.3.2z">
                    </path>
                </svg>
                Khuyễn Mãi Hot
            </div> -->
            <!-- <div class="filter_sort_active"><svg height="15" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512">
                    <path
                        d="M279.6 160.4C282.4 160.1 285.2 160 288 160C341 160 384 202.1 384 256C384 309 341 352 288 352C234.1 352 192 309 192 256C192 253.2 192.1 250.4 192.4 247.6C201.7 252.1 212.5 256 224 256C259.3 256 288 227.3 288 192C288 180.5 284.1 169.7 279.6 160.4zM480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6V112.6zM288 112C208.5 112 144 176.5 144 256C144 335.5 208.5 400 288 400C367.5 400 432 335.5 432 256C432 176.5 367.5 112 288 112z">
                    </path>
                </svg>
                Xem Nhiều
            </div> -->
        </div>
    </div>
    <div class="products_categori">
            <div class="product" *ngFor="let p of showData">
                <!-- <div class="icon_sale">
                    <img src="../../../assets/public/img/giamgia.svg" alt="">
                    <p>Giảm: 11%</p>
                </div> -->
                <div class="product_layout" idsp="1" gia="26650000">
                    <div class="tragop">Trả góp <span>0</span>%</div>
                    <div>
                        <div class="imgproduct">
                            <a routerLink="/product-detail/{{p.id}}"><img src="../../../assets/public/img-products/{{p.img}}"
                                    alt=""></a>
                        </div>
                        <div class="name_product">
                            {{p.name}}
                        </div>
                        <div class="content_product">
                            {{p.description}}
                        </div>
                        <div class="price_product">
                            <div class="price-main">
                                {{ formatPrice(p.priceNew)}}
                            </div>
                            <div style="text-decoration: line-through; font-size: 0.7em;">
                                {{ formatPrice(p.priceOld)}}
                            </div>
                        </div>
                        <div class="ship_product">Giao nhanh miễn phí</div>
                    </div>
                    <div class="plusandemoji">
                        <div class="muahang" (click)="btn_add(p.id)">
                            <i style="color: orange; font-size: 30px;margin-left: 10px;"
                                class="fa-brands fa-shopify"></i>
                        </div>
                        <div class="emoj_product">Yêu thích <i class="fa-regular fa-heart"
                                style="color: #fa0000;"></i>
                            <div>

                                <div class="box">
                                    <div class="heart"><i style="color: red;" class="fa-solid fa-heart"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="btn_more_products">
        <button>Xem thêm sản phẩm <span></span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                width="10" height="10">
                <path
                    d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z">
                </path>
            </svg> </button>
    </div>
</section>