
<footer>
    <section class="footer_1">
        <div>
            <p>Tổng đài hỗ trợ miễn phí</p>
            <div>
                <li><a href="">Gọi mua hàng 1800.2097 (7h30 - 22h00)</a></li>
                <li><a href="">Gọi mua hàng 1800.2097 (7h30 - 22h00)</a></li>
                <li><a href="">Gọi mua hàng 1800.2097 (7h30 - 22h00)</a></li>
            </div>
            <p>Phương thức thanh toán</p>
            <a href=""><img src="https://image.cellphones.com.vn/x35/media/logo/payment/alepay-logo.png
                    " alt=""></a>
            <a href=""><img src="https://image.cellphones.com.vn/x35/media/logo/payment/zalopay-logo.png
                    " alt=""></a>
            <a href=""><img src="https://image.cellphones.com.vn/x35/media/logo/payment/vnpay-logo.png
                    " alt=""></a>
            <a href=""><img src="https://image.cellphones.com.vn/x35/media/logo/payment/moca-logo.png
                    " alt=""></a>
            <a href=""><img src="https://image.cellphones.com.vn/x35/media/logo/payment/onepay-logo.png" alt=""></a>
            <a href=""><img src="	https://image.cellphones.com.vn/x35/media/logo/payment/kredivo-logo.png"
                    alt=""></a>
            <a href=""><img src="https://image.cellphones.com.vn/x35/media/logo/payment/mpos-logo.png" alt=""></a>
        </div>
        <div>
            <p>Thông tin và chính sách</p>
            <div>
                <li><a href="">Mua hàng và thanh toán online</a></li>
                <li><a href="">mua trả góp online</a></li>
                <li><a href="">Tra thông tin đơn hàng</a></li>
                <li><a href="">Tra điểm Smember</a></li>
                <li><a href="">Xem ưu đãi Smember</a></li>
                <li><a href="">Tra thông tin bảo hành</a></li>
                <li><a href="">Tra cứu hóa đơn điện tử</a></li>
                <li><a href="">Thông tin hóa đơn điện tử</a></li>
                <li><a href="">Trung tâm bảo hành chính hãng</a></li>
                <li><a href="">Quy định về việc sao lưu dữ kiệu</a></li>
            </div>
        </div>
        <div>
            <p>Dịch vụ và thông tin khác</p>
            <div>
                <li><a href="">Khách hàng doanh nghiệp (B2B)</a></li>
                <li><a href="">Ưu đãi thanh toán</a></li>
                <li><a href="">Quy chế hoạt động</a></li>
                <li><a href="">Chính sách Bảo hành </a></li>
                <li><a href="">Liên hệ hợp tác kinh doanh</a></li>
                <li><a href="">Tuyển dụng</a></li>
                <li><a href="">Dịch vụ bảo hành điện thoại</a></li>
                <li><a href="">Dịch vụ bảo hành mở rộng</a></li>
            </div>
        </div>
        <div>
            <p>Tổng đài hỗ trợ miễn phí</p>
            <div>
                <a href=""><img src="https://image.cellphones.com.vn/44x/media/logo/social/cellphones-youtube.png"
                        alt=""></a>
                <a href=""><img src="https://image.cellphones.com.vn/44x/media/logo/social/cellphones-facebook.png
                        " alt=""></a>
                <a href=""><img src="https://image.cellphones.com.vn/44x/media/logo/social/cellphones-instagram.png"
                        alt=""></a>
                <a href=""><img src="https://image.cellphones.com.vn/44x/media/logo/social/cellphones-tiktok.png"
                        alt=""></a>
                <a href=""><img src="https://image.cellphones.com.vn/44x/media/logo/social/cellphones-zalo.png"
                        alt=""></a>
            </div>
        </div>
    </section>
    <section class="footer_1 footer_1-2">
        <div>
            <li><a href="">điện thoại</a> - <a href="">Điện thoại iPhone</a> - <a href="">Điện thoại iPhone
                    14</a>
            </li>
            <li><a href="">iPhone 14 Pro 128GB</a> - <a href="">iPhone 14 Pro Max 128GB</a></li>
            <li><a href="">Điện thoại iPhone 12</a> - <a href="">Điện thoại iPhone 13</a></li>
        </div>
        <div>
            <li><a href="">Điện thoại Vivo </a> - <a href="">Điện thoại OPPO </a> - <a href="">Điện thoại
                    Samsung</a></li>
            <li><a href="">Samsung S22</a> - <a href="">Điện thoại Samsung S23 Ultra</a></li>
            <li><a href="">Samsung A13</a> - <a href="">Samsung A23 5G</a> - <a href="">Samsung A33</a></li>
        </div>
        <div>
            <li><a href="">Máy tính Laptop</a> - <a href="">Tivi </a> - <a href="">Tivi Samsung</a></li>
            <li><a href="">Laptop cũ giá rẻ </a> - <a href="">Laptop Acer</a> - <a href="">Laptop ASUS</a></li>
            <li><a href="">Máy tính để bàn</a> - <a href="">Màn hình máy tính</a></li>
        </div>
        <div>
            <li><a href="">Robot hút bụi</a> - <a href="">Máy lọc không khí</a></li>
            <li><a href="">Robot hút bụi Xiaomi</a> - <a href="">Robot hút bụi Ecovas</a></li>
            <li><a href="">Máy hút bụi</a> - <a href="">Máy hút bụi cầm tay</a> - <a href="">Camera</a></li>
        </div>

    </section>
    <div class="footer_1-3">
        <p style="text-align: center; font-size: 0.7em;">Công ty TNHH Thương Mại và Dịch Vụ Kỹ Thuật DIỆU PHÚC -
            GPĐKKD: 0316172372 cấp tại Sở KH & ĐT TP. HCM. Địa chỉ văn phòng: 350-352 Võ Văn Kiệt, Phường Cô
            Giang,
            Quận 1, Thành phố Hồ Chí Minh, Việt Nam. Điện thoại: 028.7108.9666.</p>
        <div class="img_footer">
            <div><img src="https://cdn2.cellphones.com.vn/80x,webp/media/logo/logoSaleNoti.png" alt=""></div>
            <div><img style="width: 100px;"
                    src="https://images.dmca.com/Badges/dmca_copyright_protected150c.png?ID=158f5667-cce3-4a18-b2d1-826225e6b022"
                    alt=""></div>
        </div>
    </div>

    <section class="footer_2">
        <div class="footer_icon--home"><i class="fa-solid fa-house"></i>
            <a href=""> Trang chủ</a>
        </div>
        <div class="footer_icon--list"><i class="fa-regular fa-rectangle-list"></i><a href="">Danh
                mục</a>
        </div>
        <div class="footer_icon--shop"><i class="fa-solid fa-shop"></i> <a href=""> Trang chủ</a></div>
        <div class="footer_icon--login"><i class="fa-solid fa-user"></i><a href="./html/login.html">Đăng
                nhập</a>
        </div>
        <div class="footer_icon--login"><i style="position: relative; top: 2.5px; "
                class="fa-solid fa-ellipsis"></i> <a href=""> xem thêm</a></div>
    </section>
</footer>
